@media screen and (max-width:420px) {
	.header__title {
		font-size: 1.5em;
	}
	.header__post {
		font-size: 0.7em;
	}
}

/* @media screen and (min-width:450px) and (max-width:321px) {
	.header__title {
		font-size: 2.4em;
    }
    .header__post {
		font-size: 1.7em;
	}
} */